{% extends "base.html" %}

{% load custom_tags %}

{% block content %}

<div class="cards-listing">
    {% for object in object_list %}
        <div class="row">
            <div class="card view-update {{ object.pk }}">
                <div class="card__panel-head">
                    <div class="poster__info">
                        <a href="{% url 'user_detail' object.id %}" class="poster__name">
                            {% if user.profile_pic %}
                                <img class="poster__profilepic" src="/{{ object.profile_pic.url }}">
                            {% endif %}
                            {{ object.username }}
                        </a>
                    </div>
                    {% comment %} {% is_following user object as following %}
                    <div class="follow-toggle__container">
                        <button class="btn btn-primary {% if not following %}follow-user{% else %}unfollow-user{% endif %}" id="{{ object.pk }}">
                            {% if following %}
                                Unfollow
                            {% else %}
                                Follow
                            {% endif %}
                        </button>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}