{% extends "base.html" %}

{% load custom_tags %}

{% block content %}

<div class="row single-post">
    <div class="single-post-card view-update {{ object.pk }}">
        <div class="header">
            <a href="{% url 'user_detail' object.author.id %}">
                {% if object.author.profile_pic %}
                    <img class="picture-circle--medium" src="http://{{ request.META.HTTP_HOST }}/{{object.author.profile_pic.url}}">
                {% endif %}
                {{ object.author.username }}
            </a>
        </div>
        <div class="title">
            <a href="{% url 'user_detail' object.author.id %}">
                {{ object.author.username }}
            </a>
            <span class="title-s">{{object.title}}</span>
            <div class="time">{{ post.created_at|timesince }} ago</div>
        </div>
        <div class="edit">
            {% if user == object.author %}
                <a href = "{% url 'post_update' object.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href = "{% url 'post_delete' object.id %}" class="btn btn-danger btn-sm">Delete</a>
            {% endif %}
        </div>
        <div class="image__wrapper">
            <img class="card__main-image" src="http://{{ request.META.HTTP_HOST }}/{{object.image.url}}" width='1000', height='1000' >
        </div>
        <div class="comments-portion">
            <ul class="comment-list">
                {% for comment in object.comments.all %}
                <li class="comment-list__comment">
                    <a href="{% url 'user_detail' comment.user.pk %}" class="user">
                        {{ comment.user.username }}
                    </a>
                    <span class="comment">{{ comment.comment }}</span>
                    <div class="time">{{ comment.posted_on|timesince }} ago</div>
                </li>
                {% endfor %}
            </ul>
            <div class="likes-timestamp-row">
                <div class="likes">
                    {% if object.get_like_count %}
                        {{ object.get_like_count }} like{% if object.get_like_count > 1 %}s{% endif %}
                    {% endif %}
                </div>
                {% comment %} <div class="timestamp">
                    {{ object.posted_on|timesince }}
                </div> {% endcomment %}
            </div>
            
            <section class="input-row">
                {% comment %} <i class="fa {% if liked %}fa-heart{% else %}fa-heart-o{% endif %} submit-like" aria-hidden="true"></i> {% endcomment %}
                <i class="fa {% has_user_liked_post post user %} submit-like" aria-hidden="true"></i>
                <div class="hidden-data {{ post.pk }}" style="display: none;">
                    <span class="post-pk">{{ post.pk }}</span>
                </div>
            </section>
            
            <section class="input-row" style="padding-left: 0px;">
                <i class="fa fa-commenting-o fa-2x" aria-hidden="true"></i>
                <div class="comment-input-wrapper">
                    <input class="add-comment" type="text" placeholder="Add a comment...">
                </div>
                <div class="hidden-data {{ object.pk }}" style="display: none;">
                    <span class="post-pk">{{ object.pk }}</span>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock content %}